<a href="https://colab.research.google.com/github/paps2002/POO_python2023-/blob/main/LunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [3]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))

Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [5]:
nombre = "José"
carrera = "ICO, la mejor"
print(f"Mi nombre es { nombre*2} y estudio { carrera } en la FES Aragón")

Mi nombre es JoséJosé y estudio ICO, la mejor en la FES Aragón

In [6]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [7]:
suma

8

In [8]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [9]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [10]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [11]:
def fn_uno():
    print("Hola")
 
a, b, c = 10, "Hola", [2.3, 3.4]
print(a)
print(b)
print(c[1])

10
Hola
3.4

In [12]:
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")
 
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

Por favor, introduce tu nombre: Marco
Hola Marco!
Introduce tu edad:21
Marco tiene 21 años

In [13]:

#          0          1         2
#          -3         -2        -1
frutas = ['limon', 'aguacate', 'fresa']
print(frutas[0])

limon

In [14]:
cosas = ['limon', 10, 3.1416, True, [1,2,3,4], 'hola']
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'hola']

#Slicing en python

[inicio : stop : step ]

es la posibilidad de obtener rebanadas a partir de un tipo de datos lista o tupla, en general de un iterable.

POR DEFECTO:
Inicio = 0
Stop = igual al tamano de la variable.
step = 1

In [15]:
ejemplo = [1,2,3,4,5,6,'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [16]:
rebanada = ejemplo[2:6:1]
print(rebanada)

[3, 4, 5, 6]

In [20]:
frutas_dos = ('aguacate','limon','naranja')
print(frutas)
print(frutas_dos)
frutas[1] = 'pina'
print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])
print(frutas_dos[-1])

['limon', 'pina', 'fresa']
('aguacate', 'limon', 'naranja')
pina
limon
('limon',)
naranja

#diccionarios teoria
1.es un conjunto de pares llave valor
2. Agrupados por ':'
3. la llave siempre es de tipo String
4. el valor puede ser de cualquier tipo
5. el selector de la forma ['llave']
6. mutable
7. se declara entre los caracteres '{' y '}'
8. los pares estan separados por comas

In [22]:
alumno = {'numero_cuenta' : 318145839 , 'carrera' : 'ICO',
'direccion' : {'calle' : 'rancho seco', 'numero' : 23}}
print(alumno)

{'numero_cuenta': 318145839, 'carrera': 'ICO', 'direccion': {'calle': 'rancho seco', 'numero': 23}}